USE [BD_ChallengeAV]
GO
/****** Object:  Table [dbo].[DatosClima]    Script Date: 03/21/2021 18:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosClima](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCiudad] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[TemperaturaC] [int] NOT NULL,
	[IndicadorClima] [int] NOT NULL,
	[Humedad] [int] NOT NULL,
	[Precipitaciones] [int] NOT NULL,
	[Vientos] [int] NOT NULL,
 CONSTRAINT [PK_DatosClima] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatosClima]  WITH CHECK ADD  CONSTRAINT [FK_DatosClima_Ciudades_IdCiudad] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudades] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatosClima] CHECK CONSTRAINT [FK_DatosClima_Ciudades_IdCiudad]
GO
