USE [BD_ChallengeAV]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 03/21/2021 18:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCiudad] [nvarchar](75) NOT NULL,
	[IdPais] [int] NOT NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ciudades]  WITH CHECK ADD  CONSTRAINT [FK_Ciudades_Paises_IdPais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Paises] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ciudades] CHECK CONSTRAINT [FK_Ciudades_Paises_IdPais]
GO
ALTER TABLE [dbo].[Ciudades] ADD  DEFAULT ((0)) FOR [IdPais]
GO
